@import "../base/variables";
@import "../base/mixin";

    button{
    @include tamano(150px);
    border-radius: 20px;
    border-color: $color-letra-borde;
    color:$color-letra-borde;
    background:$transparente;
}

div.inicio{
    @include tamano(null,100vh);
    
    display:grid;
    justify-content:center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 1fr;
    grid-template-areas: 
    "header header"
    "promo promo"
    "section aside"
    "footer footer"
    ;
    section.promo{
        margin:4px;
        img{
            border:3px solid $color-letra-borde;
            border-radius: 20px;
        }
        
    }
    aside{
        width: 100%;
        
        ul, ol{
            margin-left: 20px;
            li{
                font-size: 150%;
                color: #9E4B58;
            }
        }
    }
}
div.pantalla-cubierta{
    
    @include tamano(null,100vh);

}

section.espaciado{
    border:$color-encabezado;
    border-radius: 20px;
    
    margin-left: 5%;
    
    font-size: $tamano-letra-acdn;
    font-family: $tipografia;
    
    @include tamano(70%,50%);
    div{
        img.imagen-local{
            width:100%;
        }
    }
}


aside.text{
    grid-area: aside;
    justify-content: center;
    align-content: center;
    margin-right: 100px;

div{
    
    
    grid-area: aside;
    
    @include tamano(400px);
    border-radius: 20px;
    
p{
    align-content: center;
    font-family: $tipografia;
    font-size: 30px;
}
}
}

aside.contacto{
    grid-area: aside;  
    margin-top: 30px;
    margin-left: 200px;
}

section.local{
    grid-area: section;
    background-size: cover;
    img{
        height: 100%;
        width: auto;
    }
    

    
    
}

section.comentario{
    margin-left: 200px;
    h2{
        margin: 10px;
    }
    input, textarea{
        margin:5px;
        @include tamano(500px);
    }
}
div.contacto{

    display:grid;
    @include tamano(null,100vh);
    
    display:grid;
    justify-content:center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas: 
    "header header"
    "section aside"
    "mapa mapa"
    "footer footer"
    ;
    
}
section.mapa{
    grid-area: mapa;
    
        iframe{
            
            @include tamano(100%, 300px);
        }
    
}
section.promo{
    grid-area: promo;
    img{
        width: 100%;
    }
}
div.centrado{
    justify-content: center;
    text-align: center;
    
}


